/* Diese CSS-Datei legt das Aussehen für home.php fest */

#main 									/* Chatbereich */
{
	height: 610px;						/* Bereichshöhe */
	background-color: white;			/* Hintergrundfarbe */
	margin-top: 70px;					/* Abstand vom oberen Rand */
	float: left;						/* Anordnung auf der Seite */
	width: 70%;							/* Breite */
	text-align: center;
}

#interaktion
{
	height: 610px;						/* Bereichshöhe */
	background-color:  #28a745;			/* Hintergrundfarbe */
	margin-top: 70px;					/* Abstand vom oberen Rand */
	margin-left: 4px;					/* Abstand zum nächsten linken Abschnitt */
	float: left;						/* Anordnung auf der Seite */
	width: 15%;							/* Breite */
	font-size: 18px;
}
#einladen								/* Bereich für die Übersicht aller Verfügbaren Kontakte */
{
	height: 300px;						/* Bereichshöhe */
	background-color:  #28a745;			/* Hintergrundfarbe */
	margin-left: 10px;					/* Abstand zum nächsten linken Abschnitt */
	width: 100%;						/* Breite */
	font-size: 18px;					/* Schriftgröße */
}
#beitreten								/* Bereich für die Übersicht aller Chat-Einladungen */
{
	height: 150px;						/* Bereichshöhe */
	background-color:  #28a745;			/* Hintergrundfarbe */
	margin-top: 70px;					/* Abstand vom oberen Rand */
	margin-left: 10px;					/* Abstand zum nächsten linken Abschnitt */
	width: 100%;						/* Breite */
	font-size: 18px;					/* Schriftgröße */
}

#steuerung								/* Bereich für allgemeine Steuerungselemente */
{
	height: 600px;						/* Bereichshöhe */
	margin-top: 70px;					/* Abstand vom oberen Rand */
	margin-left: 20px;					/* Abstand zum nächsten linken Abschnitt */
	float: left;						/* Anordnung auf der Seite */
	width: 10%;							/* Breite */
	font-size: 18px;
}

#hauptinfo								/* Bereich für die Übersicht der Registraturinfos */
{
	height: 500px;						/* Bereichshöhe */
	background-color: grey;			/* Hintergrundfarbe */
	margin-left: 1%;					/* Abstand zum nächsten linken Abschnitt */
	margin-right: 1%;
	float: left;						/* Anordnung auf der Seite */
	width: 48%;							/* Breite */
}

#zusatzinfo								/* Bereich für die Übersicht Möglicher Zusatzinfos */
{
	height: 500px;						/* Bereichshöhe */
	background-color: grey;				/* Hintergrundfarbe */
	margin-left: 1%;					/* Abstand zum nächsten linken Abschnitt */
	margin-right: 1%;					/* Abstand zum nächsten rechten Abschnitt */
	float: right;						/* Anordnung auf der Seite */
	width: 48%;							/* Breite */
}

.avatar 
{
  	width: 150px;						/* Bildbreite */
  	height: 150px;						/* Bildhöhe */
  	border-radius: 50%;					/* Kantenabrundung für ein rundes Profilbild*/
}

h1										/* Einstellungen für H1 Überschriften */
{
	background-color: #8A0886;			/* Hintergrundfarbe */
	color: white;						/* Schriftfarbeneinstellungen */
	text-align: center;					/* Schrift mittig ausrichten */
}

input[type=submit]						/* Buttoneinstellungen */
{						
	width: 150px;						/* Breite */
	box-sizing: border-box;				/* Aussehen */
	border: 1px solid #2E2E2E;			/* Randfarbe und Größe */
	border-radius: 10px;				/* Eckenabrundung */
	background-color: #8A0886;			/* Hintergrundfarbe */
	color: white;						/* Schriftfarbe */
	: center;
}

body									/* Bodyeinstellungen */
{									
	background-color: #28a745;			/* Hintergrundfarbe */
}

select									/* Einstellungen für die Freundesliste */
{
	width: 100%;						/* Breite */
	height: 100%;						/* Höhe */
}

option
{
	font-size: 18px;					/* Schriftgröße für die Auswahlliste festlegen */
}