/* Diese CSS-Datei dient der Darstellung des Profils für den Admin */

#main 									/* Chatbereich */
{
	height: 610px;						/* Bereichshöhe */
	background-color: white;			/* Hintergrundfarbe */
	margin-top: 70px;					/* Abstand vom oberen Rand */
	float: left;						/* Anordnung auf der Seite */
	width: 70%;							/* Breite */
	text-align: center;
}

#steuerung
{
	height: 610px;						/* Bereichshöhe */
	background-color:  #33ccff;			/* Hintergrundfarbe */
	margin-top: 70px;					/* Abstand vom oberen Rand */
	margin-left: 4px;					/* Abstand zum nächsten linken Abschnitt */
	float: left;						/* Anordnung auf der Seite */
	width: 15%;							/* Breite */
	font-size: 18px;
}

#hauptinfo								/* Bereich für die Übersicht der Registraturinfos */
{
	height: 500px;						/* Bereichshöhe */
	background-color: grey;			/* Hintergrundfarbe */
	margin-left: 1%;					/* Abstand zum nächsten linken Abschnitt */
	margin-right: 1%;
	float: left;						/* Anordnung auf der Seite */
	width: 48%;							/* Breite */
}

#zusatzinfo								/* Bereich für die Übersicht Möglicher Zusatzinfos */
{
	height: 500px;						/* Bereichshöhe */
	background-color: grey;			/* Hintergrundfarbe */
	margin-left: 1%;					/* Abstand zum nächsten linken Abschnitt */
	margin-right: 1%;
	float: right;						/* Anordnung auf der Seite */
	width: 48%;							/* Breite */
}



.output									/* Ausgabebereiche */
{								
	background-color: white;			/* Hintergrundfarbe */
	box-shadow: 0px 1px 1px #2E2E2E;	/* Schatten */
	height: 100%;						/* Ausdehnung nach oben */
	margin-bottom: 20px;				/* Abstand vom nächsten unteren Abschnitt */
	overflow: scroll;					/* Scroll-Bereich einfügen, wenn Daten im Abschnitt zu viel werden */
}

.outputFreunde							/* Ausgabebereiche */
{								
	background-color: white;			/* Hintergrundfarbe */
	box-shadow: 0px 1px 1px #2E2E2E;	/* Schatten */
	height: 100%;						/* Ausdehnung nach oben */
	margin-bottom: 20px;				/* Abstand vom nächsten unteren Abschnitt */
}

.avatar 
{
	align-items: center;				/* Bildposition */
  	position: relative;					/* Bildposition */
  	left: 10px;							/* Abstand nach Links */
  	width: 120px;						/* Bildbreite */
  	height: 120px;						/* Bildhöhe */
  	border-radius: 50%;					/* Abrundung der Ecken für ein rundes Profilbild */
}

h1										/* Einstellungen für H1 Überschriften */
{
	background-color: #8A0886;			/* Hintergrundfarbe */
	color: white;						/* Schriftfarbeneinstellungen */
	text-align: center;					/* Schrift mittig ausrichten */
}

input[type=submit]						/* Buttoneinstellungen */
{						
	width: 150px;						/* Breite */
	box-sizing: border-box;				/* Aussehen */
	border: 1px solid #2E2E2E;			/* Randfarbe und Größe */
	border-radius: 10px;					/* Eckenabrundung */
	background-color: #8A0886;			/* Hintergrundfarbe */
	color: white;						/* Schriftfarbe */
	: center;
}

button
{
	width: 150px;						/* Breite */
	box-sizing: border-box;				/* Aussehen */
	border: 1px solid #2E2E2E;			/* Randfarbe und Größe */
	border-radius: 10px;					/* Eckenabrundung */
	background-color: #8A0886;			/* Hintergrundfarbe */
	color: white;						/* Schriftfarbe */
	: center;
}
textarea								/* Bereich für die Eingabe von Chatnachrichten  */
{								
	background-color: #dcdcdc;			/* Hintergrundfarbe */
	width: 100%;						/* Breite des Bereichs */
}

body									/* Bodyeinstellungen */
{									
	background-color: #33ccff;			/* Hintergrundfarbe */

}

select									/* Einstellungen für die Freundesliste */
{
	width: 100%;						/* Breite */
	height: 100%;						/* Höhe */

}

option
{
	font-size: 18px;					/* Schriftgröße für die Auswahlliste festlegen */
}

th
{
	text-align: left;					/* Textausrichtung in der Tabelle */
}